.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(67, 67, 67, 1) 39%,
    rgba(24, 24, 24, 1) 92%,
    rgba(24, 24, 24, 1) 100%
  );
  font-family: "Varela Round", sans-serif;
  text-align: center;
  padding-top: 180px;
  width: 100%;
  height: auto;
}

.about > h3 {
  color: var(--white);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 24px;
  margin-bottom: 20px;
}

.about > p {
  color: var(--light-gray);
  font-size: 12px;
  line-break: loose;
  width: 100%;
  max-width: 530px;
  letter-spacing: 0.02em;
}

.about > p > span {
  color: var(--blue);
}

.about > img {
  width: 100%;
  max-width: 700px;
  margin-top: 60px;
}

@media (max-width: 450px) {
  .about > h3 {
    font-size: 22px;
  }

  .about > p {
    max-width: 300px;
  }

  .about > img {
    width: 100%;
    max-width: 300px;
    margin-top: 60px;
  }
}
