@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

@import "./header.css";
@import "./nav.css";
@import "./about.css";
@import "./projects.css";
@import "./subscribe.css";
@import "./contact.css";
@import "./footer.css";

:root {
  --light-gray: #c4c4c4;
  --medium-gray: #787878;
  --gray: #333;
  --dark-gray: #1a1a1a;
  --white: #fff9e9;
  --blue: #639d9a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

body,
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--medium-gray);
}

body::-webkit-scrollbar-track {
  background-color: var(--gray);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}
